@import "../theme/colors.scss";

.layout {
    min-height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.content {
   height: 100%; 
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
}

.rowContainer {
    max-width: 450px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
}

.colContainer {
    margin: 8px;
    width: 100%;
}

.contentContainer {
    border-radius: 4px;
    padding: 20px;
    padding-right: 12%;
    padding-left: 12%;
    width: 100%;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(1,0,10);
    background: linear-gradient(328deg, rgba(1,0,10,1) 0%, rgba(106,30,19,1) 34%, rgba(239,246,247,1) 100%);
    width: 100%;
    height: 100%;
    background-size: cover;
}
